{% extends "sidebarbase.html" %}

{% block head %}
{% if page_obj.has_previous %}
    <link rel="prev" href="{% url "browse" %}?page={{page_obj.previous_page_number}}" />
{% endif %}
{% if page_obj.has_next %}
    <link rel="next" href="{% url "browse" %}?page={{page_obj.next_page_number}}" />
{% endif %}
{% endblock  %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="category-hero">
            <h2>{{ category.title }}</h2>
            <div class="category-description">
                {{ category.description }}
            </div>
        </div>
    </div>
</div>
<div class="browse-videos">
  {% for video in page_obj %}
  {% include 'home/_video_body.html' %}
  {% empty %}
  You have no content
  {% endfor %}
</div>
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in paginator.page_range %}
        {% if page_obj.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

