{% extends "sidebarbase.html" %}
{% load video_util %}

{% load sitemap_util %}

{% block content %}
<div class="browse-videos">
  {% for video in videos %}
  <div class="media">
    <a class="pull-left" href="{{ video.get_absolute_url }}">
      <img class="media-object" data-src="" src="{{ video.thumbnail_image }}" alt="{{ video.title }}" />
    </a>
    <div class="media-body">
      <a href="{{ video.get_absolute_url }}">
        {% if video.is_premium %}
        <h4 class="media-header">[Pro] {{ video.title }}</h4>
        {% else %}
        <h4 class="media-header">{{ video.title }}</h4>
        {% endif %}
      </a>
      {{ video.description }} <small>({{ video.length|sec_to_min }} minutes)</small>
      {% if user.is_authenticated %}
        {% if video|is_favorited:user.id %}
          <img class="video-favorite" data-video="{{ video.id }}" src="{{ STATIC_URL }}img/favorite.png" height="15px" width="15px" />
        {% else %}
          <img class="video-favorite" data-video="{{ video.id }}" src="{{ STATIC_URL }}img/nofav.png" height="15px" width="15px" />
        {% endif %}
      {% endif %}
    </div>
  </div>
  <hr />
  {% empty %}
  You have no content
  {% endfor %}

  <div class="pagination">
    <ul>
        {% if page.has_previous %}
        <li><a rel="prev" href="?page={{ page.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in paginator.page_range %}
        {% if page.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page.has_next %}
        <li><a rel="next" href="?page={{ page.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
