{% extends "fullbase.html" %}

{% block bigcontent %}

<div class="main-subscribe-copy-header">
<strong>GoDjango Pro</strong> - premium videos for you, and free videos for all. By subscribing you help broaden the scope and amount of Django training.
</div>
<div class="main-subscribe-copy">
  <strong>Guided videos</strong> and <strong>user requested videos</strong> will be produced every month. <em>Guided</em> videos will be more indepth than the free videos giving you a broader base of understanding. <em>User requested</em> videos will be topics GoDjango users have specifically asked about, and can generally help everyone by being a video.
</div>

{% if not user.is_authenticated %}
<div class="subscribe-note alert">
  You need to <a href="{% url 'socialauth_begin' 'github' %}">login with github</a> in order to subscribe.
</div>
{% endif %}

<div class="subscribe-button">
  <a href="{% url "new_subscription" %}" class="btn btn-primary"><span class="button-banner">Subscribe to GoDjango Pro</span><br /> only $9 a month</a>
</div>
{% endblock %}
