{% extends "base.jinja" %}

{% block title %}
{{ article.title }} - GoDjango
{% endblock %}

{% block body_extra %}ng-app="godjango"{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1><a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h1>
    {{ article.published_body()|safe }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="newsletter-video" ng-controller="NewsletterForm">
      <div>
        <h3>Subscribe to the email list</h3>
        <p>
          Like what you see here? Want to learn new things and hear my programming-related stories? Fill out the form below and you’ll get updates on what is happening on the site, more django content and interesting stories of developing with django.
        </p>
      </div>
      <form class="form-horizontal newsletter" ng-submit="save(user)">
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-4">
            <input type="email" value="" name="email" class="form-control" ng-model="user.email" />
            <div class="newsletter-email-message"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="first_name" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-4">
            <input type="text" value="" name="first_name" class="form-control" ng-model="user.first_name" />
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-4">
            <input type="text" value="" name="last_name" class="form-control" ng-model="user.last_name" />
          </div>
        </div>
        <div id="newsletter-message">
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <input type="submit" value="Subscribe" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'godjango'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

  </div>
</div>
{% endblock %}
