html
    background-color: EEEEEE

.top-level-container
    width: 1280

.top-level-container
    width: 1280px

.content
    background-color: #FFFFFF
    border-radius: 0 0 6px 6px
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
    padding: 0px 0px 15px 0px

.header-content
    background-color: #FFFFFF
    border-radius: 0 0 0 0
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)

img.about-profile
    width: 125px
    float: right
    padding: 5px
    border: lightgray 1px solid
    margin: 0px 10px 0px 10px

.testimonial-container
    margin: 0px 0px 20px 0px

.testimonial-header
    font-size: 35px
    text-align: center
    margin: 10px 0px 30px 0px
    font-weight: bold

.testimonial-box
    text-align: center

.testimonial-text
    font-size: 1em
    margin: 5px 0px 5px 0px

#newsletter-modal
    width: 600px
    margin: 0px 0px 0px -300px

img.testimonial-image
    width: 73px
    height: 73px
    border-radius: 10px

.login-left
    border-right: 1px solid #EEEEEE
    margin-top: 15px
    padding-top: 25px

.login-right
    margin-top: 65px
    margin-left: 60px

.category-hero
    margin: 0px 0px 20px 0px

.sidebar-categories ul
    list-style-type: none
    margin: 0px 0px 0px 5px

.sidebar-categories ul li
    margin: 5px 0px 5px 0px

.sidebar-categories header
    font-size: 20px
    margin: 10px 0px 0px 5px
    padding: 5px 0px 5px 0px
    border-bottom: 1px solid #EEEEEE

.sidebar-row
    margin-bottom: 20px

.mailing-list-subscribe
    border-bottom: 1px solid #EEEEEE
    font-size: 18px
    margin: 0 0 10px
    padding: 0 0 5px

.video-favorite
    cursor: pointer

.page-header
    border-bottom: none
    font-size: 2.3em
    margin: 30px 0px 10px 0px
    padding: 0px

.right-header-content
    margin: 65px 0px 0px 0px

#video-container
  margin: 0px 20px 0px 20px

#video-container .video-standard
    margin: 0px 0px 0px 200px
    display: none

#video-container .video-wide
    margin: 0px 0px 0px -10px
    display: none

#meta-content
    margin: 20px 0px 20px 0px

.media
    text-align: left

.video-preview .media .media-body h4.media-header
    margin: 0px
    padding: 0px

.browse-videos .media .media-body h4.media-header
    margin: 0px
    padding: 0px

.browse-videos .media .pull-left img 
    border: 1px solid gray

.media-body h1.media-header
    font-size: 17.5px
    margin: 0px
    padding: 0px

.video
    display: none

.navbar-inner
    border-radius: 0 0 0 0

#account-content
    margin: 0px 50px 0px 50px

#meta-data
    border: 1px solid lightgray
    padding: 10px 15px
    margin: 20px 0px
    border-radius: 5px

.episode-title
    line-height: 1.5em

.episode-title .meta-number
    font-size: 1.25em
    color: gray

.episode-title .meta-title
    font-size: 1.25em
    font-weight: bold

.pubdate-length
    line-height: 1.25em
    font-size: .85em
    color: gray

.main-subscribe-copy-header
    margin: 10px 100px 10px 100px
    line-height: 1.65em
    font-size: 1.5em

.main-subscribe-copy
    margin: 20px

.subscribe-note
    text-align: center
    margin: 0px 200px 0px 200px

.subscribe-button
    margin: 20px
    text-align: center

.button-banner
    font-size: 1.35em
    font-weight: bold

footer
    margin: 10px 0px 0px 0px

footer p
    text-align: center
