body
    font-family: 'Karla',"Helvetica Neue",Helvetica,Arial,sans-serif

.input-date
    width: 20px

.navbar
    border: none
    background-color: #24364B

    .nav
        a.dropdown-toggle
            color: white
        a.main-link
            color: white

    li.go-pro-li
        background-color: #9bd7ff

    li.go-pro-li > a
        color: darkslateblue


.sidebar-list-group
    margin-top: 46px

.sidebar
    .widget
        border: 1px solid #DDD
        padding: 10px 15px
        border-radius: 4px

.total-header
    font-size: 22px
    font-weight: bold

    .name
        color: gray

.episode-list-item
    border: lightgray 1px solid

    h4
        font-weight: bold
        line-height: 1.2em
        font-size: 1.6em

    .thumbnail
        width: 350px
        height: 196px
        border: 0px
        margin: 0px

    .sub-heading
        color: gray
        margin-bottom: 5px

    .pro-label
        text-transform: uppercase

.video-container
    .video-preview-image
        text-align: center

    .video-preview-image img
        max-width: 1170px

    .pro-placeholder
        color: white
        height: 630px
        border: lightgray 1px solid
        border-radius: 5px
        text-align: center
        background: url(http://api.thumbr.it/whitenoise-361x370.png?background=24364B&noise=626262&density=35&opacity=50)
        margin-top: 20px
        margin-bottom: 20px

        h3
            font-size: 30px


        .feature-list
            margin-top: 100px
            .header
                font-size: 20px

.video-meta
    margin-top: 10px
    margin-bottom: 10px

.login
    margin-top: 60px

    .github-button
        margin-top: 50px

.login-left
    border-right: 1px solid lightgray

.sales-copy
    font-size: 18px
    line-height: 26px

    .faq
        font-size: 14px

        h3
            font-weight: bold

        h4
            font-weight: bold
            font-size: 16px

    a.btn-sales
        font-size: 19px

    ul.questions
        list-style-type: none
        margin: 20px 0px

        li:before
            content: "?"
            width: 25px
            height: 25px
            text-align: center
            background: none repeat scroll 0% 0% #CF341E
            color: white
            border-radius: 13px
            position: absolute
            left: 20px

    ul.answers
        list-style-type: none
        margin: 20px 0px

        li:before
            content: "+"
            width: 25px
            height: 25px
            text-align: center
            background: none repeat scroll 0% 0% #2465CD
            color: white
            border-radius: 13px
            position: absolute
            left: 20px

#plans
    .plan-container
        border: solid 1px #DDD
        border-radius: 5px
        margin-top: 20px
        background-color: #F5F5F5

    .plan-container-primary
        margin-top: 5px

    ul
        list-style-type: none
        padding: 0px

        li
            border-top: solid 1px #DDD
            padding: 10px 0px
            margin: 0px 20px

        li:first-child
            border-top: medium none

.checkout-header
    max-width: 361px
    font-size: 20px
    padding: 5px 15px
    background-color: #F5F5F5
    border: 1px solid #DDD
    border-radius: 5px
    margin: 20px 0px 10px 0px

.checkout-plan
    font-size: 20px

.thank-you-videos
    list-style-type: none

.index-header
    background-image: url(/static/img/index-header.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: white

    h1
        margin-top: 130px
        text-shadow: 1px 1px 2px #000000

    h2
        margin-top: 50px
        text-shadow: 1px 1px 2px #000000
        font-size: 23px

    .buttons
        margin-bottom: 100px

        .btn-header
            margin-top 20px
            margin-bottom: 20px
            margin-right: 10px
            border-bottom: 1px solid white
            font-size: 22px
            font-weight: bold

footer
    margin-top: 20px
    margin-bottom: 20px
