{% extends "base.jinja" %}

{% block container %}container-fluid{% endblock %}

{% block content %}
<div class="row index-header">
  <div class="col-sm-offset-1 col-sm-8 col-md-offset-3 col-md-6">
    <h1>Learn Django, Python, & More</h1>
    <h2>Learn beginner to advanced Django.<br />
      From using templates to testing, and how to host your awesome creation.</h2>
    <div class="buttons">
        <a href="{{ url("browse") }}" class="btn btn-success btn-lg btn-header">Browse</a> <a href="{{ url("subscribe") }}" class="btn btn-success btn-lg btn-header">Go Pro</a>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <h3>Get Started Here</h3>
    {% for video in videos %}
    {% include 'episode/_video.jinja' %}
    {% endfor %}
    </div>
</div>
{% endblock %}
