html, body{
    background-color: #EEEEEE;
}
.content{
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 0px 0px 15px 0px;
}

.header-content{
    background-color: #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

img.about-profile{
    width: 125px;
    float: right;
    padding: 5px;
    border: lightgray 1px solid;
    margin: 0px 10px 0px 10px;
}

.testimonial-container{
    margin: 0px 0px 20px 0px;
}

.testimonial-header{
    font-size: 35px;
    text-align: center;
    margin: 10px 0px 30px 0px;
    font-weight: bold;
}

.testimonial-box{
    text-align: center;
}

.testimonial-text{
    font-size: 1em;
    margin: 5px 0px 5px 0px;
}

img.testimonial-image{
    width: 73px;
    height: 73px;
    border-radius: 10px;
}

.category-hero{
    margin: 0px 0px 20px 0px;
}

.sidebar-categories ul{
    list-style-type: none;
    margin: 0px 0px 0px 5px;
}

.sidebar-categories ul li{
    margin: 5px 0px 5px 0px;
}

.sidebar-categories header{
    font-size: 20px;
    margin: 10px 0px 0px 5px;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #EEEEEE;
}

.sidebar-row {
    margin-bottom: 20px;
}

.mailing-list-subscribe {
    border-bottom: 1px solid #EEEEEE;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0 0 5px;
}

.video-favorite{
  cursor: pointer;
}

.page-header{
    border-bottom: none;
    font-size: 2.3em;
    margin: 30px 0px 10px 0px;
    padding: 0px;
}

.right-header-content{
    margin: 35px 0px 0px 0px;
}

#video-container {
  margin: 0px 20px 0px 20px;
}

#video-container .video {
  margin: 0px 0px 0px 50px;
}

#meta-content {
  margin: 20px 0px 20px 0px;
}

.media {
  text-align: left;
}

.video-preview .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .pull-left img {
  border: 1px solid gray;
}

.media-body h1.media-header {
  font-size: 17.5px;
  margin: 0px;
  padding: 0px;
}

.video {
  display: none;
}

.navbar-inner{
    border-radius: 0 0 0 0;
}

#account-content {
    margin: 0px 50px 0px 50px;
}

#meta-data{
  border: 1px solid lightgray;
  padding: 10px 15px;
  margin: 20px 0px;
  border-radius: 5px;
}

.episode-title {
  line-height: 1.5em;
}

.episode-title .meta-number {
  font-size: 1.25em;
  color: gray;
}
.episode-title .meta-title {
  font-size: 1.25em;
  font-weight: bold;
}

.pubdate-length {
  line-height: 1.25em;
  font-size: .85em;
  color: gray;
}

.main-subscribe-copy-header {
  margin: 10px 100px 10px 100px;
  line-height: 1.65em;
  font-size: 1.5em;
}

.main-subscribe-copy {
  margin: 20px;
}

.subscribe-note {
  text-align: center;
  margin: 0px 200px 0px 200px;
}

.subscribe-button {
  margin: 20px;
  text-align: center;
}

.button-banner {
  font-size: 1.35em;
  font-weight: bold;
}

footer{
    margin: 10px 0px 0px 0px;
}

footer p{
    text-align: center;
}

/****** PYGMENTS CSS *********/
/* https://github.com/richleland/pygments-css/ */

.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
