html, body{
    background-color: #EEEEEE;
}
.content{
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.header-content{
    background-color: #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.page-header{
    border-bottom: none;
}

.right-header-content{
    margin: 35px 0px 0px 0px;
}

#video-container {
  margin: 0px 20px 0px 20px;
}

#video-container .video {
  margin: 0px 0px 0px 50px;
}

#meta-content {
  margin: 20px 0px 20px 0px;
}

.media {
  text-align: left;
}

.video-preview .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .pull-left img {
  border: 1px solid gray;
}

.video {
  display: none;
}

.navbar-inner{
    border-radius: 0 0 0 0;
}

#account-content {
    margin: 0px 50px 0px 50px;
}

#meta-data{
  border: 1px solid lightgray;
  padding: 10px 15px;
  margin: 20px 0px;
  border-radius: 5px;
}

.episode-title {
  line-height: 1.5em;
}

.episode-title .meta-number {
  font-size: 1.25em;
  color: gray;
}
.episode-title .meta-title {
  font-size: 1.25em;
  font-weight: bold;
}

.pubdate-length {
  line-height: 1.25em;
  font-size: .85em;
  color: gray;
}

.main-subscribe-copy-header {
  margin: 10px 100px 10px 100px;
  line-height: 1.65em;
  font-size: 1.5em;
}

.main-subscribe-copy {
  margin: 20px;
}

.subscribe-note {
  text-align: center;
  margin: 0px 200px 0px 200px;
}

.subscribe-button {
  margin: 20px;
  text-align: center;
}

.button-banner {
  font-size: 1.35em;
  font-weight: bold;
}

footer{
    margin: 10px 0px 0px 0px;
}

footer p{
    text-align: center;
}
