html, body{
    background-color: #EEEEEE;
}
.content{
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.header-content{
    background-color: #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.page-header{
    border-bottom: none;
}

.right-header-content{
    margin: 30px 0px 0px 0px;
}

#video-container {
  margin: 0px 20px 0px 20px;
}

#video-container .video {
  margin: 0px 0px 0px 50px;
}

#meta-content {
  margin: 20px 0px 20px 0px;
}

.media {
  text-align: left;
}

.video-preview .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .media-body h4.media-header {
  margin: 0px;
  padding: 0px;
}

.browse-videos .media .pull-left img {
  border: 1px solid gray;
}

.video {
  display: none;
}

.navbar-inner{
    border-radius: 0 0 0 0;
}

#account-content {
    margin: 0px 50px 0px 50px;
}

footer{
    margin: 10px 0px 0px 0px;
}

footer p{
    text-align: center;
}
