{% extends "account_base.html" %}

{% block content %}

{% include "accounts/_subscription_status.html" %}

<div>
<h3>Billing History</h3>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Purchase Date</th>
        <th>Amount</th>
        <th>Description</th>
    </thead>
{% for charge in user.customer.charges.all %}
    {% if charge.paid %}
    <tr>
        <td>{{ charge.id }}</td>
        <td>{{ charge.charge_created|date:"M d" }}</td>
        <td>${{ charge.amount|floatformat:2 }} USD</td>
        <td>{{ charge.description }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
</div>

{% if user.customer %}
{% include "accounts/_cancel_form.html" %}
{% endif %}

{% endblock %}
