{% extends "account_base.html" %}

{% block content %}

{% include "accounts/_subscription_status.html" %}

{% if user.customer %}
<div>
    <h3>Credit Card Information</h3>
    {% if user.customer.can_charge %}
        {% if user.customer.card_type %}
        <div>
            Card Type: <strong>{{ user.customer.card_type }}<strong>
        </div>
        {% endif %}
        <div>
            Last 4 digits of Card: <strong>{{ user.customer.card_last_4 }}</strong>
        </div>
    {% else %}
    <p>
        You don't have a valid card on file.
    </p>
    {% endif %}
    <br />
    <p>
    <a href="{% url "update_card"  %}">Update or Add Card</a>
    </p>
</div>
<hr />
{% endif %}

<div>
<h3>Billing History</h3>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Purchase Date</th>
        <th>Amount</th>
        <th>Description</th>
    </thead>
{% for charge in user.customer.charges.all %}
    {% if charge.paid %}
    <tr>
        <td>{{ charge.id }}</td>
        <td>{{ charge.charge_created|date:"M d" }}</td>
        <td>${{ charge.amount|floatformat:2 }} USD</td>
        <td>{{ charge.description }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
</div>

{% if user.customer %}
<hr />
{% include "accounts/_cancel_form.html" %}
{% endif %}

{% endblock %}
