{% extends "base.html" %}

{% block head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/zocial/0/zocial.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block bigcontent %}
<div class="row">
    {% if messages %}
    <div class="span10 offset1">
      <div id="messages">
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="span6 login-left">
            <form method="post" accept-charset="utf-8" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label for="id_{{ field.name}}" class="control-label">{{ field.label.title }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                          <span class="inline-help">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                          </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Login" class="btn btn-primary"> or <a rel="no-follow" href="{% url "register" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Register</a>
                </div>
            </div>
                    </form>
    </div>
    <div class="span5 login-right">
        <a href="{% url 'social:begin' 'github' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="zocial github">Login with GitHub</a>
    </div>
</div>
{% endblock %}
