{% extends "base.jinja" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        <div id="messages">
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        <h2>Recover Password</h2>
        <p>To reset your password please use the email you registered with. We will send you a new password you can use.</p>
        <form class="" action="{{ url("password_recovery") }}" method="post">
            {% csrf_token %}
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2" for="email">Email</label>
                    <div class="col-sm-4">
                        <input type="email" name="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <input type="submit" value="Reset Password" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
