{% extends "base.html" %}

{% block bigcontent %}
<div class="row">
    <div class="span8 offset2">
        <form method="post" accept-charset="utf-8" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label for="id_{{ field.name}}" class="control-label">{{ field.label.title }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                        <span class="help-inline">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Register" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
