<div class="list-group sidebar-list-group">
    <a class="list-group-item" href="{{ url("category", "basics") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Basics</a>
    <a class="list-group-item" href="{{ url("category", "advanced") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Advanced</a>
    <a class="list-group-item" href="{{ url("category", "3rd-party-apps") }}"><i class="fa fa-home fa-fw"></i>&nbsp;3rd Party Apps</a>
    <a class="list-group-item" href="{{ url("category", "class-based-views") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Class Based Views</a>
    <a class="list-group-item" href="{{ url("category", "assets") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Assets</a>
    <a class="list-group-item" href="{{ url("category", "devops") }}"><i class="fa fa-home fa-fw"></i>&nbsp;DevOps</a>
    <a class="list-group-item" href="{{ url("category", "testing") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Testing</a>
    <a class="list-group-item" href="{{ url("category", "templates") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Templates</a>
    <a class="list-group-item" href="{{ url("category", "pro") }}"><i class="fa fa-home fa-fw"></i>&nbsp;Pro</a>
</div>

<strong>Subscribe to our Newsletter</strong>
<form class="form newsletter" method="post">
  <div class="form-group">
    <label for="email" class="control-label">Email</label>
    <input type="email" value="" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="first_name" class="control-label">First Name</label>
    <input type="text" value="" name="first_name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="last_name" class="control-label">Last Name</label>
    <input type="text" value="" name="last_name" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" value="Subscribe" class="btn btn-primary" />
  </div>
</form>
