{% extends "fullbase.html" %}
{% load video_util %}

{% load sitemap_util %}

{% block metadescription %}
{{ video.description|safe }}
{% endblock %}

{% block metakeywords %}
{{ video.meta_keywords|safe }}
{% endblock %}

{% block title %}
{{ video.title }} - GoDjango.com
{% endblock %}

{% block head %}
<script type="text/javascript" src="https://cdn.sublimevideo.net/js/oiprw10x.js"></script>
{% endblock %}

{% block content %}

<div class="video-preview">
  <div class="media">
    <a class="pull-left" href="{{ video.get_absolute_url }}">
      <img class="media-object" data-src="" src="{{ video.thumbnail_image }}" alt="{{ video.title }}" />
    </a>
    <div class="media-body">
      <a href="{{ video.get_absolute_url }}">
        <h4 class="media-header">{{ video.title }}</h4>
      </a>
      <p>
      {{ video.description }}
      </p>
    {% if not video.is_premium or user.customer.has_active_subscription %}
      <button class="btn watch-video">Watch Video</button>
    {% else %}
      <a class="btn btn-primary" href="{% url 'subscribe' %}">Subscribe to Watch</a>
    {% endif %}
    </div>
  </div>
</div>

{% if not video.is_premium or user.customer.has_active_subscription %}
<div class="video">
  <video class="sublime" width="800" height="600" poster="{{ video.preview_imgae }}">
  {% if video.h264 %}
  <source src="{{ video.h264 }}" />
  {% endif %}
  {% if video.webm %}
  <source src="{{ video.webm }}" />
  {% endif %}
  </video>
</div>
{% endif %}

<div id="meta-content">
  <div id="meta-data">
    <div class="episode-title">
      <span class="meta-number">{{ video.episode }}</span>. <span class="meta-title">{{ video.title }}</span>
      {% if user.is_authenticated %}
        {% if video|is_favorited:user.id %}
          <img class="video-favorite" data-video="{{ video.id }}" src="{{ STATIC_URL }}img/favorite.png" height="15px" width="15px" />
        {% else %}
          <img class="video-favorite" data-video="{{ video.id }}" src="{{ STATIC_URL }}img/nofav.png" height="15px" width="15px" />
        {% endif %}
      {% endif %}
    </div>
    <div class="pubdate-length">
    {{ video.publish_date|date:"M d, Y" }} - {{ video.length|sec_to_min }} minutes
    </div>
    {% if not video.is_premium or user.customer.has_active_subscription %}
    <div class="meta-download">
      Download: {% if video.video_h264 %}<a href="{{ video.h264 }}">mp4</a> {% endif %}{% if video.video_webm %}| <a href="{{ video.webm }}">webm</a>{% endif %}
    </div>
    {% endif %}
  </div>
  <ul id="content-tabs" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#comments" id="video-comments">Comments</a></li>
    <li><a data-toggle="tab" href="#show-notes" id="video-show-notes">Show Notes</a></li>
    <li><a data-toggle="tab" href="#description" id="video-description">Description</a></li>
  </ul>
  <div id="actual-data" class="tab-content">
    <div id="comments" class="tab-pane active">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'godjango'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div id="show-notes" class="tab-pane">
      {% if not video.is_premium or user.customer.has_active_subscription %}
      <p>
      {{ video.show_notes|safe }}
      </p>
      {% else %}
        <p>
          This is a premium video. To watch and get the show notes <a href="{% url 'subscribe' %}">subscribe</a>
        </p>
        <a class="btn btn-primary" href="{% url 'subscribe' %}">Subscribe to View Notes</a>
      {% endif %}
    </div>
    <div id="description" class="tab-pane">
      {{ video.description }}
    </div>
  </div>
</div>

{% endblock %}
