{% extends "base.html" %}

{% block bigcontent %}
<div id="account-content">
    <div id="account-menu">
        <ul class="nav nav-pills">
            <li class="account-dashboard"><a href='{% url "dashboard" %}'>Dashboard</a></li>
            <li class="account-favorites"><a href='{% url "favorites" %}'>Favorites</a></li>
            <li class="account-settings"><a href='{% url "settings" %}'>Settings</a></li>
            <li class="account-billing"><a href='{% url "billing" %}'>Billing</a></li>
        </ul>
    </div>
    <hr />
    <div id="acount-body">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% endblock %}
