<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Screencasts and Tutorials - GoDjango.com{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}Learn something new about Django you didn't know before with short easy to understand screencasts and tutorials.{% endblock %}">
    <meta name="keywords" content="{% block metakeywords %}django screencasts, django, django videos, django weekly, django tutorials{% endblock %}">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    {{ compressed_css('vendor') }}
    {{ compressed_css('main') }}
    {% block head %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-805005-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {{ compressed_js('vendor') }}
    {{ compressed_js('main') }}
  </body>
</html>
