<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Django Screencasts - GoDjango.com{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="row header-content">
        <header>
        <div class="span6">
          <div class="page-header">
            <h1>GoDjango <small>Going Through Django Screencasts</small></h1>
          </div>
        </div>
        <div class="span2 offset3">
          <div class="right-header-content">
            <a href="#">Login with GitHub</a>
          </div>
        </div>
        </header>
      </div>
      <div class="row header-content">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active">
                <a href="{% url index  %}">Browse Videos</a>
                </li>
                <li><a href="{% url about %}">About GoDjango</a></li>
                <li><a href="{% url feedback %}">Feedback</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content">
        {% block bigcontent %}
        {% endblock %}
      </div>
      <div class="row">
        <footer>
        <p>
        Content and Videos &copy; 2011-2012 GoDjango - hosting by
        <a href="http://www.linode.com/?r=3a66ff0ec674bff254f8de21f5418489b791336e">Linode</a>
        </p>
        </footer>
      </div>
    </div>
  </body>
</html>
