{% extends "base.html" %}

{% block bigcontent %}
<div id="blog-content">
    <div class="span8">
    {% block content %}{% endblock %}
    </div>
    <div class="span3 offset1">
        <div class="row">
          <a href="{% url "main_rss" %}"><img src="{{ STATIC_URL }}img/rss.png" alt="rss" /></a>
          <a href="http://www.facebook.com/godjango"><img src="{{ STATIC_URL }}img/facebook_box.png" alt="facebook" /></a>
        </div>
        {% if categories %}
        <div class="row">
            <div class="sidebar-categories">
                <header>
                    Categories
                </header>
                <ul>
                {% for cat in categories %}
                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% empty %}
                    <li>No Categories</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
