{% extends "base.jinja" %}

{% block content %}
<div class="col-sm-offset-2 col-sm-8">
    <form action="{{ url("feedback") }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="">Message</label>
            <textarea class="form-control" name="body" rows="10"></textarea>
        </div>
        <input type="submit" value="submit" name="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}
