{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% load url from future %}
{% load admin_urls %}
{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans title %}
</div>
{% endblock %}

{% block content %}

{% for qs in queryset %}
<div>
  <h2>{{ qs.title }} - Release URLs</h2>
  <div>
  [GoDjango] New Video is Up: {{ qs.title }} - {{ qs.description }} https://godjango.com{{ qs.get_absolute_url }}?utm_source=twitter&utm_medium=tweet&utm_content=morning&utm_campaign=release<br />
  [GoDjango] New Video is Up: {{ qs.title }} - {{ qs.description }} https://godjango.com{{ qs.get_absolute_url }}?utm_source=twitter&utm_medium=tweet&utm_content=midday&utm_campaign=release<br />
  [GoDjango] New Video is Up: {{ qs.title }} - {{ qs.description }} https://godjango.com{{ qs.get_absolute_url }}?utm_source=twitter&utm_medium=tweet&utm_content=evening&utm_campaign=release<br />
  [GoDjango] New Video is Up: {{ qs.title }} - {{ qs.description }} https://godjango.com{{ qs.get_absolute_url }}?utm_source=facebook&utm_medium=post&utm_campaign=release<br />
  </div>
  <h2>{{ qs.title }} - Archive URLs</h2>
  <div>
  [GoDjango] {{ qs.title }} - {{ qs.description }} https://godjango.com{{ qs.get_absolute_url }}?utm_source=twitter&utm_medium=scheduled-tweet&utm_content=edgar&utm_campaign=link<br />
  </div>
  <hr>
</div>
{% endfor %}

{% endblock %}
