<div class="widget" ng-controller="NewsletterForm">
  <strong>Subscribe to our Newsletter</strong>
  <form class="form newsletter" ng-submit="save(user)">
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="email" value="" name="email" class="form-control" ng-model="user.email" required />
      <div class="newsletter-email-message"></div>
    </div>
    <div class="form-group">
      <label for="first_name" class="control-label">First Name</label>
      <input type="text" value="" name="first_name" class="form-control" ng-model="user.first_name" />
    </div>
    <div class="form-group">
      <label for="last_name" class="control-label">Last Name</label>
      <input type="text" value="" name="last_name" class="form-control" ng-model="user.last_name" />
    </div>
    <div id="newsletter-message">
    </div>
    <div class="form-group">
      <input type="submit" value="Subscribe" class="btn btn-primary" />
    </div>
  </form>
</div>

<div class="list-group sidebar-list-group">
    <a class="list-group-item" href="{{ url("category", "basics") }}">Basics</a>
    <a class="list-group-item" href="{{ url("category", "advanced") }}">Advanced</a>
    <a class="list-group-item" href="{{ url("category", "3rd-party-apps") }}">3rd Party Apps</a>
    <a class="list-group-item" href="{{ url("category", "class-based-views") }}">Class Based Views</a>
    <a class="list-group-item" href="{{ url("category", "assets") }}">Assets</a>
    <a class="list-group-item" href="{{ url("category", "devops") }}">DevOps</a>
    <a class="list-group-item" href="{{ url("category", "testing") }}">Testing</a>
    <a class="list-group-item" href="{{ url("category", "templates") }}">Templates</a>
    <a class="list-group-item" href="{{ url("category", "pro") }}">Pro</a>
</div>

<div class="list-group sidebar-list-group">
    <a class="list-group-item" href="{{ url("series", "building-a-product") }}">Building a Product</a>
    <a class="list-group-item" href="{{ url("series", "reactjs-redux-and-django") }}">React + Redux and Django</a>
    <a class="list-group-item" href="{{ url("series", "django-and-angular-basics") }}">Django and Angular Basics</a>
    <a class="list-group-item" href="{{ url("series", "building-a-cryptocurrency-manager") }}">Building a CryptoCurrency Manager</a>
</div>
