<div class="list-group sidebar-list-group">
    <a class="list-group-item" href="{{ url("category", "basics") }}">Basics</a>
    <a class="list-group-item" href="{{ url("category", "advanced") }}">Advanced</a>
    <a class="list-group-item" href="{{ url("category", "3rd-party-apps") }}">3rd Party Apps</a>
    <a class="list-group-item" href="{{ url("category", "class-based-views") }}">Class Based Views</a>
    <a class="list-group-item" href="{{ url("category", "assets") }}">Assets</a>
    <a class="list-group-item" href="{{ url("category", "devops") }}">DevOps</a>
    <a class="list-group-item" href="{{ url("category", "testing") }}">Testing</a>
    <a class="list-group-item" href="{{ url("category", "templates") }}">Templates</a>
    <a class="list-group-item" href="{{ url("category", "pro") }}">Pro</a>
</div>

<div class="list-group sidebar-list-group">
    <a class="list-group-item" href="{{ url("series", "building-a-product") }}">Building a Product</a>
    <a class="list-group-item" href="{{ url("series", "reactjs-redux-and-django") }}">React + Redux and Django</a>
    <a class="list-group-item" href="{{ url("series", "django-and-angular-basics") }}">Django and Angular Basics</a>
    <a class="list-group-item" href="{{ url("series", "building-a-cryptocurrency-manager") }}">Building a CryptoCurrency Manager</a>
</div>
