{% extends "base.jinja" %}

{% block title -%}
{{video.title}}
{%- endblock %}

{% block metadescription -%}
  {{ video.description|truncate(155) }}
{%- endblock %}

{% block head %}
<link href="//vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">

<!-- social meta -->
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@buddylindsey">
<meta name="twitter:title" content="{{ video.title }}">
<meta name="twitter:description" content="{{ video.description|truncate(200) }}">
<meta name="twitter:creator" content="@buddylindsey">
<!-- Twitter Summary card images must be at least 120x120px -->
{% if video.thumbnail_image %}
<meta name="twitter:image" content="{{video.thumbnail_image.url}}">
{% endif %}
<meta name="twitter:url" content="https://godjango.com{{video.get_absolute_url()}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{video.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://godjango.com{{video.get_absolute_url()}}" />
<meta property="og:image" content="{{video.thumbnail_image}}" />
{% if video.thumbnail_image %}
<meta property="og:description" content="{{ video.description.url }}" />
{% endif %}
<meta property="og:site_name" content="GoDjango" />

{% endblock %}

{% block body_extra %}ng-app="godjango"{% endblock %}

{% block content %}
{% set customer, paying = is_customer(user) %}
<div class="col-sm-12">
  <div class="video-container">
    <h1>{%- if user.is_authenticated() -%}
      {%- if is_favorite(user, video) -%}
        <img class="video-favorite" data-video="{{ video.id }}" src="{{ static("img/favorite.png") }}" height="15px" width="15px" />
      {%- else -%}
        <img class="video-favorite" data-video="{{ video.id }}" src="{{ static("img/nofav.png") }}" height="15px" width="15px" />
      {%- endif -%}
      &nbsp;
    {%- endif -%}
    {{ video.title }}</h1>
    <div class="video-description">
      {{ video.description }}
    </div>
    {% set revised_video = video.revised_video() %}
    {% if revised_video %}
    <div class="video-revised">
      There is a newer version of this video check out the <a href="{{ revised_video.get_absolute_url() }}">Revised Video</a>
    </div>
    {% endif %}
    {% if video.youtube_id %}
    <iframe width="1100" height="615" src="https://www.youtube.com/embed/{{ video.youtube_id }}" FRAMeborder="0" allowfullscreen></iframe>
    {% elif video.is_premium and not paying %}
    <div class="pro-placeholder">
      <h3>This video is for <strong class="blue-highlight">Pro</strong> subscribers</h3>
      <h4>Learn more and support GoDjango subscribe today</h4>
      <img src="{{ static('img/godjango-logo.png') }}" />
      <div class="feature-list"> <span class="header blue-highlight">Subscribe to get:</span>
        <ul class="list-unstyled">
          <li>All videos</li>
          <li>Download videos for later</li>
        </ul>
      </div>
      <a href="{{ url('login') }}" class="padding-10">sign in</a><a href="{{ url('subscribe') }}" class="btn btn-success">Unlock this Video</a>
    </div>
    {% else %} {# if not premium or they are a subscriber #}
    <div class="video-player-container">
      {% if not video.widescreen %}
      <video id='video-player' controls preload="auto" class="video-js vjs-default-skin" width="800" height="600"{% if video.preview_image %} poster="{{ video.preview_image.url }}"{% endif %}>
      {% else %}
      <video id='video-player' controls preload="auto" class="video-js vjs-default-skin" width="1100" height="619"{% if video.preview_image %} poster="{{ video.preview_image.url }}"{% endif %}>
      {% endif -%} {# end widscreen if #}
      {%- if video.h264 -%}<source src="{{ video.h264 }}" type="video/mp4" />{%- endif -%}
      {% if video.transcripts %}
        {% for transcript in video.transcripts.all() %}
        <track kind="subtitles" src="{{ transcript.file.url }}" srclang="{{ transcript.srclang }}" label="{{ transcript.label }}"></track>
        {% endfor %}
      {% endif %}
      </video>
    {%- endif %}
    </div>
  </div>
  <div class="video-meta">
    {% if paying %}
    <a href="{{ video.h264_download() }}" class="btn btn-primary"><i class="fa fa-download"></i> Download {% if video.widescreen %}HD Version{% else %}Video{% endif %}</a>
    {% else %}
    <a href="{{ url('subscribe') }}" class="btn btn-primary"><i class="fa fa-download"></i> Download HD Version</a>
    {% endif %}
    {%- if video.next_video() -%}
      {%- set next_video = video.next_video() -%}
      <a href="{{ next_video.get_absolute_url() }}" class="pull-right btn btn-default"->next video: <strong>{{ next_video.title }}</strong></a>
    {%- endif -%}
  </div>
  <div class="video-extra">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9">
        {% if paying or not video.is_premium %}
        <ul id="video-detail-tabs" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#show-notes" role="tab" data-toggle="tab">Show Notes</a></li>
          {% if video.transcript %}
          <li><a href="#transcript" role="tab" data-toggle="tab">Transcript</a></li>
          {% endif %}
        </ul>
        <div class="tab-content">
          <div id="show-notes" class="tab-pane active">
            {{ video.published_show_notes()|safe }}
          </div>
          {% if video.transcript %}
          <div id="transcript" class="tab-pane">
            {{ video.published_transcript()|safe }}
          </div>
          {% endif %}
        </div>
        {% else %}
        <p>subscribe to get resources, show notes, trascript, and code</p>
        <a href="{{ url("subscribe") }}" class="btn btn-primary">Subscribe Now</a>
        {% endif %}
      </div>
      {% if related_videos %}
      <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="list-group sidebar-list-group">
          <span class="sidebar-video-content-header">Related Videos</span>
          {% for video in related_videos %}
              <a class="list-group-item" href="{{ video.get_absolute_url() }}">{{ video.title }}</a>
              {% if video.thumbnail_image %}
              <a class="list-group-item" href="{{ video.get_absolute_url() }}">
                <img src="{{ video.thumbnail_image.url }}" width="225" />
              </a>
              {% endif %}
          {% endfor %}
          </div>
      </div>
      {% endif %}
    </div>
    {% if paying or not video.is_premium %}
    <div class="row">
      <div class="col-xs-12">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'godjango'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <strong>For more great content subscribe to GoDjango newsletter</strong>
        <form class="form-horizontal newsletter" method="post">
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-4">
              <input type="email" value="" name="email" class="form-control" />
              <div class="newsletter-email-message"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="first_name" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-4">
              <input type="text" value="" name="first_name" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="last_name" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-4">
              <input type="text" value="" name="last_name" class="form-control" />
            </div>
          </div>
          <div id="newsletter-message">
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <input type="submit" value="Subscribe" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%- block additional_js -%}
{% if not video.is_premium or paying %}
<script type="text/javascript" charset="utf-8" src="//vjs.zencdn.net/4.8/video.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ static("js/videojs.ga.min.js") }}"></script>
<script>
videojs("#video-player", {}, function(){
  this.ga();
});
</script>
{% endif %}
{%- endblock -%}
